<?xml version="1.0"?>
<robot name="mars_environment">

<!-- Base World -->
<link name="sim_world" />

<!-- The stl file manifests sideways, so we have to rotate it (also different rotations compared to the sdf)-->
<joint name="desert_joint" type="fixed">
    <parent link="sim_world"/>
    <child link="desert"/>
    <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
</joint>
<link name="desert">
    <visual>
        <geometry>
            <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/environment-terrain/src/gazebo/launch/mars.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="beige_brown">
            <color rgba="0.76 0.60 0.42 1"/>
            </color>
        </material>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
        <geometry>
            <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/environment-terrain/src/gazebo/launch/mars.stl" scale="0.1 0.1 0.1"/>
        </geometry>
    </collision>
</link>

</robot>