<robot name='robot'>
    <link name='robot/chassis'>
        <visual>
            <pose>0 0 0 0 0 1.5708</pose>
            <geometry>
                <mesh filename="package://gazebo/launch/rover_base_link.STL" scale="2.0 2.0 2.0"/>
            </geometry>
            <material name="grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>

    <link name='robot/left_wheel'>
        <visual name='visual'>
            <geometry>
                <mesh filename="package://gazebo/launch/rover_wheel.STL" scale="2.0 2.0 2.0"/>
            </geometry>
            <material name="dark_grey">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
    </link>

    <link name='robot/right_wheel'>
        <visual name='visual'>
            <geometry>
                <mesh filename="package://gazebo/launch/rover_wheel.STL" scale="2.0 2.0 2.0"/>
            </geometry>
            <material name="dark_grey">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
    </link>

    <link name='robot/caster'>
        <visual name='visual'>
            <geometry>
                <sphere radius="0.1" />
            </geometry>
            <material name="dark_grey">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>
    </link>
</robot>
