<robot name='robot'>
    <link name='robot/chassis'>
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_base_link.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>

    <link name='robot/left_wheel'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_center_left_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="left_wheel_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/left_wheel"/>
        <origin xyz="-0.5 0.6 0" rpy="-1.5707 0 0"/>
    </joint>

    <link name='robot/right_wheel'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_center_right_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="right_wheel_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/right_wheel"/>
        <origin xyz="-0.5 -0.6 0" rpy="-1.5707 0 0"/>
    </joint>

    <link name='robot/caster'>
        <visual name='visual'>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="invisible">
                <color rgba="0 0 0 0"/>
            </material>
        </visual>
    </link>

    <!-- Front-left visual wheel (fixed, no physics) -->
    <link name='robot/front_left_wheel_visual'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_front_left_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="front_left_wheel_visual_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/front_left_wheel_visual"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Front-right visual wheel -->
    <link name='robot/front_right_wheel_visual'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_front_right_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="front_right_wheel_visual_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/front_right_wheel_visual"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Rear-left visual wheel -->
    <link name='robot/rear_left_wheel_visual'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_rear_left_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="rear_left_wheel_visual_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/rear_left_wheel_visual"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Rear-right visual wheel -->
    <link name='robot/rear_right_wheel_visual'>
        <visual name='visual'>
            <origin xyz="0 0 0" rpy="1.5708 3.1416 0"/>
            <geometry>
                <mesh filename="https://raw.githubusercontent.com/WATonomous/wato_rover/add-rover-urdf/src/gazebo/launch/rover_rear_right_wheel.stl"/>
            </geometry>
            <material name="rover_grey">
                <color rgba="0.75 0.75 0.75 1"/>
            </material>
        </visual>
    </link>
    <joint name="rear_right_wheel_visual_joint" type="fixed">
        <parent link="robot/chassis"/>
        <child link="robot/rear_right_wheel_visual"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>
